*{
  margin: 0;
  padding: 0;
  font-family: Arial;
  color: white;
}
h2{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
}
h3{
  text-align: center; 
  padding-bottom: 20px;
}
h4{
  text-align: center; 
}
div{
  padding-top: 40px;
  text-align: center;
}
.icons-name{
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 10px;
}
body{
   background-color: black;
   opacity: 0.9;
   text-align: center;
}
.card{
  width: 400px;
  height: 400px;
  display: inline-block;
  border-radius: 10px;
  padding: 25px 35px 30px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  backgorund-position: center;
  background-size: cover;
  transition: transform 0.6s;
}
.card1{
  
  background-image: url(https://images.pexels.com/photos/3879071/pexels-photo-3879071.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
}
.card2{
  background-image: url(https://images.pexels.com/photos/415992/pexels-photo-415992.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
}
.card3{
 background-image: url(https://images.pexels.com/photos/2760519/pexels-photo-2760519.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
}
.card4{
  background-image: url(https://images.pexels.com/photos/3290070/pexels-photo-3290070.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
}
.card4 h5 a{ 
  color: black;
}
.card5{
  background-image: url(https://images.pexels.com/photos/3264723/pexels-photo-3264723.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
}
.card5 h5 a{
  color: black;
}
.card6{
  background-image: url(https://images.pexels.com/photos/1559846/pexels-photo-1559846.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
}
.card6 h5 a{
  color: black;
}
.card:hover{
  transform:translateY(-10px);
}
*{
  margin-bottom: 10px;
  padding-bottom: 10px;
}
